@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.card {
    width: 25rem;
    margin: auto;
    margin-top: 25vh;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

@media (max-width:375px) {
    body {
        background: url(./images/pattern-background-mobile.svg) no-repeat hsl(225, 100%, 94%);
    }

    .card{
        width: auto;
        margin: 20vh auto;
    }

}

body {
    background: url(./images/pattern-background-desktop.svg) no-repeat hsl(225, 100%, 94%);
    background-size: cover;
    text-align: center;

}

h3 {
    padding-top: 20px;
    font-weight: 900;
}

.card-text,.price,.order {
    color: hsl(224, 23%, 55%);
}

.plan {
    /* background-color: hsl(224, 23%, 55%); */
    width: 80%;
    margin: auto;
    position: relative;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.plan-prices {
    margin: auto;
    width: auto;
    padding: 010px;
}

.music {
    margin: 10px;
    float: left;
}

.change {
    position: absolute;
    right: 10px;
    top: 30%;
}

.btn {
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.btn:hover {
    background-color: hsl(223, 47%, 23%);
    color: white;
}

.cancel {
    margin: 20px 0 0;
}

.order {
    text-decoration: none;
}

.hero {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}